<h1> Контакты  </h1>
<h2> <p><li>  87077906080 </li> </p>
<p><li> <a href="http://vk.com/onerbekov">VK</a> </li> </p>
  <p><li> <a href="http://instagram.com/nurzhas55">Instagram</a> </li> </p> </h2> 
<ul> <li> <p> <h5> Оброщатся для рекламы </h5> </p> </li> </ul>