<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Написать новый микропост..." %>
  </div>
  <%= f.submit "Запостить", class: "btn btn-large btn-primary" %>
<% end %>