<footer class="footer">
  <small>
    <a href="http://railstutorial.org/">Rails Tutorial</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "О сайте",   about_path %></li>
      <li><%= link_to "Контакты", contacts_path %></li>
      <li><a href="http://instagram.com/nurzhas55">Инстаграм</a></li>
    </ul>
  </nav>
</footer>